@font-face {
    font-family: bright;
    src: url(fonts/bright_2/Bright\ DEMO.otf);
  }
  @font-face {
    font-family: storybook;
    src: url(fonts/storybook/Storyboo.TTF);
  }
  @font-face {
    font-family: antique;
    src: url(fonts/antique_book_cover/antique_book_cover.otf);
  }
  @font-face {
    font-family: exalibur;
    src: url(fonts/excalibur_nouveau/Excalibur\ Nouveau.ttf);
  }
  @font-face {
    font-family: efco;
    src: url(fonts/efco_overhold/EFCO\ Overhold\ -\ DEMO.otf);
  }
  @font-face {
    font-family: lovecraft;
    src: url(fonts/love_craft/Love\ Craft.ttf);
  }
  @font-face {
    font-family: magicretro;
    src: url(fonts/magic_retro/Magic\ Retro.ttf);
  }
  @font-face {
    font-family: chisto;
    src: url(fonts/chistoso/Chistoso-Regular.ttf);
  }
  @font-face {
    font-family: franchise;
    src: url(fonts/franchise_2/FranchiseFilled.ttf);
  }
  .img-cover
  {
    height: 50vh;
    background-position: 0px 120vh;
    background-image: url(img/cover90s.png);
    background-size: cover;
    border: 15px solid rgb(154, 0, 0);
  }
  .title
  {
    font-family: bright;
    text-align: center;
    font-size: 580%;
    color: rgb(147, 0, 0);
    text-shadow: 5px 2px black;
  }
  .para1
  {
    text-align: center;
    font-family: chisto;
    font-size: 150%;
  }
  .para2
  {
    text-align: center;
    font-family: exalibur;
    font-size: 150%;
  }
  .box
  {
    border: 1vh solid black;
  }
  .box2
  {
    border: 1vh solid black;
  }
  .poster
  {
    background-image: url(img/poster.png);
    background-size: cover;
    align-items: center;
    height: 300vh;
    width: 198.7vh;
    border: 10px solid rgb(147, 0, 0);
    background-position: -15px;
  }
  body
  {
    background-color: rgb(0, 201, 0);
    width: 200vh;
    height: 10vh;
  }
  .link1
  {
    font-family: bright;
    text-align: center;
    text-size-adjust: 50vh;
    font-size: 15vh;
    color: solid black;
  }
  .bottom
  {
    background-color: black;
    border: 1vh solid black;
    border: 10px solid rgb(147, 0, 0);
  }
  .bg1
  {
    background-color: black;
    width: 200vh;
    height: 10vh;
  }